.tarjeta {
    background-color: rgb(80, 147, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: transform 0.5s;
    animation: 2s ocultarTarjeta linear;
}

.imagenTarjeta {
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.5s;
    transform: scale(0);
    animation: 0.5s ocultarImagen linear;

}

@keyframes ocultarImagen {

    0%,
    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}